<a href="https://colab.research.google.com/github/jeshuacn/curso-algebra-lineal/blob/master/Panda_WebScrapping_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Analizar el cambio de moneda de la página: https://www.banreservas.com/calculators/divisas

In [ ]:
import requests
page = requests.get('https://www.banreservas.com/calculators/divisas')
page2 = requests.get('https://coronavirusrd.gob.do/')

from bs4 import BeautifulSoup as bs

soup, covid_st = bs(page.text), bs(page2.text)

Ya importados los elementos iniciar la búsqueda

In [ ]:
# print(soup.select('div[class*="form-label"]'))

for EachPart in soup.select('div[class*="form-label"]'):
    print (EachPart.get_text())

Compramos
US$ 1.00 = RD$ 55.20
Vendemos
US$ 1.00 = RD$ 56.85

Analicemos ahora el tema sanitario actual en RD

In [ ]:
confirmados = covid_st.find_all('div',class_="casos__resultados_item")
for item in confirmados:
  titulo = item.find_all('span',class_='titulo')
  resultado = item.find_all('span',class_='numero')
  for t in titulo:
    print (t.string)  
  for n in resultado:
    print (n.string)

Casos confirmados
362,103
Recuperados
351,334
Personas fallecidas
4056

Ahora uniendo los conceptos veamos este ejemplo

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from tabulate import tabulate

res = requests.get("http://www.nationmaster.com/country-info/stats/Media/Internet-users")
soup = BeautifulSoup(res.content,'lxml')
# print(soup)
table = soup.find_all('table')[0] 
df = pd.read_html(str(table)) # Me está generando una lista a partir del un dataframe, por eso no se puede manejar con data frame
print(tabulate(df[0][:5], headers='keys', tablefmt='psql'))

+----+-----+---------------------------------------------+---------------+--------+---------+-----------+
|    |   # | COUNTRY                                     | AMOUNT        |   DATE |   GRAPH |   HISTORY |
|----+-----+---------------------------------------------+---------------+--------+---------+-----------|
|  0 |   1 | China                                       | 389 million   |   2009 |     nan |       nan |
|  1 |   2 | United States                               | 245 million   |   2009 |     nan |       nan |
|  2 |   3 | Japan                                       | 99.18 million |   2009 |     nan |       nan |
|  3 | nan | Group of 7 countries (G7) average (profile) | 80.32 million |   2009 |     nan |       nan |
|  4 |   4 | Brazil                                      | 75.98 million |   2009 |     nan |       nan |
+----+-----+---------------------------------------------+---------------+--------+---------+-----------+

In [ ]:
pd.DataFrame(df[0]).head()

     #                                      COUNTRY  ... GRAPH  HISTORY
0    1                                        China  ...   NaN      NaN
1    2                                United States  ...   NaN      NaN
2    3                                        Japan  ...   NaN      NaN
3  NaN  Group of 7 countries (G7) average (profile)  ...   NaN      NaN
4    4                                       Brazil  ...   NaN      NaN

[5 rows x 6 columns]

In [ ]:
# Filtrar contenido según el país se que quiera mostrar
pais = input('Nombre en Inglés del país que se desea mostrar:')
df[0][df[0]['COUNTRY'].str.contains(pais.title())] # Modificador del texto para adaptar al nombre fuente

Nombre en Inglés del país que se desea mostrar:Austr

     #    COUNTRY         AMOUNT  DATE  GRAPH  HISTORY
32  25  Australia  15.81 million  2009    NaN      NaN
60  42    Austria   6.14 million  2010    NaN      NaN